@font-face {
    font-family: TangoSans;
    src: url(../fonts/TangoSans.ttf);
}

footer{
    
    margin-top: 5vh;
    padding: 2vh 5vh 15vh 5vh;
    display: grid;
    grid-column-gap: 5vh;
    grid-template-columns: 1fr 1fr 1fr;

    height: 200px;
    background-color: rgb(94, 88, 88);
    color: white;
}


footer h1{
    padding-bottom: 3vh;
    font-size: 1.5rem;
    color: rgb(207, 207, 207);

}

footer li{
    font-family: 'TangoSans';
    line-height: 200%;
    list-style: none;
    padding: 0 0 5px;
    color: rgb(255, 255, 255);
}


@media (max-width: 900px){
    footer{
        height: auto;
        display: block;
    }
    
    footer h1{
        padding-bottom: 3vh;
        font-size: 1.5rem;
        color: rgb(34, 34, 34);
    
    }

}