#principal{
    margin-top: 10vh;
}

#principal h1{
    font-size: 150%;
    text-align: center;
    margin: auto;
}
#choices{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.choice-card{
    background-color: rgb(97, 96, 99);
    width: 25%;
    min-width: 300px;
    aspect-ratio: 0.75;
    margin:3%;
    text-align: center;
    border-radius: 5pt;
}

.choice-card h1{
    color: rgb(255, 255, 255);
}

.choice-card img{
    width: 75%;
    margin-top: 30%;
}

